
#footer{
    position: unset;
    width: fit-content;
    padding: 0;
}
#ulsitemap{
    -moz-column-count: 2;
    -moz-column-gap: 1vmax;
    -webkit-column-count: 2;
    -webkit-column-gap: 1vmax;
    column-count: 2;
    column-gap: 20px;
}
.hli{
    font-size: 1.5vmax;
    padding: 0;
}
.section{
    padding-bottom: 30vmax;
}
#contsitemap{
    margin:2vmin 0;
    bottom: 0;
}
.section{
    padding-top: 0;
    padding-bottom: 0;
}

.present{
    width: 60% ;
}
.hobbies{
    flex-wrap: nowrap;
}

.hobbycard img{
    height: 18vmin;
    width: auto; 
}
#listaHabilidades{
    -moz-column-count: 2;
    -moz-column-gap: 2vmax;
    -webkit-column-count: 2;
    -webkit-column-gap: 2vmax;
    column-count: 2;
    column-gap: 3vmax;
}
#listaCursos{
    -moz-column-count: 4;
    -moz-column-gap: 2vmax;
    -webkit-column-count: 4;
    -webkit-column-gap: 2vmax;
    column-count: 4;
    column-gap: 3vmax;
}
#listaCursos li{
    margin-top: 2;
}
#listaCursos ul{
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}