#hlinks{
    flex-direction: row;
}
#footer{
    position: fixed;
    width:30vmin;
}
#ulsitemap{
    -moz-column-count: 2;
    -moz-column-gap: 1vmax;
    -webkit-column-count: 2;
    -webkit-column-gap: 1vmax;
    column-count: 2;
    column-gap: 20px;
}
.section{
    padding-bottom: 30vmax;
}